In [1]:
import pandas as pd

In [8]:
file = '../data/limerick_dataset_oedilf_v3.json'

df = pd.read_json(file)

In [9]:
df

,author,limerick,id,is_limerick
0,Chris J. Strolin,The very first word here is a.\nIt's used with...,1,False
1,BobHale,"""I'm really hon'rably intentioned,""\nHe said t...",2,False
2,Richard English,If a bovine in some leafy glade\nShould swallo...,3,True
3,Tim Alborn,"The ham-handed chef at IHOP\nLost his grip, an...",4,False
4,Virge,"Our abode, dear (that place with the smell),\n...",5,True
...,...,...,...,...
98449,Giorgio Coniglio,We scholars in wordplay well-versed\nDream up ...,111596,False
98450,Giorgio Coniglio,The false positive rate of a test:\nCrucial fa...,111597,True
98451,Giorgio Coniglio,"A self-proclaimed math maven, Steven,\nHad fol...",111598,False
98452,Giorgio Coniglio,"Seafood fans adore ""peel 'em and eat 'em"".\nWi...",111600,False
98453,Giorgio Coniglio,"From plush banquets to BYOB,\nAnd from potlatc...",111601,False

In [10]:
data = df[df['is_limerick'] == True]
data

,author,limerick,id,is_limerick
2,Richard English,If a bovine in some leafy glade\nShould swallo...,3,True
4,Virge,"Our abode, dear (that place with the smell),\n...",5,True
6,Virge,"Quoth the office wall icon, ""Achieve!\nYou can...",9,True
8,Meg Beagle,Our tomatoes this year are abounding;\nThey're...,11,True
10,Meg Beagle,"I'm not one of you limerick chums,\nAnd the th...",13,True
...,...,...,...,...
98444,Dr. Work,"Fire fountains may sound pretty cool,\nBut don...",111591,True
98446,MattMonitto,"As a gent of the uppermost class,\nI'm deservi...",111593,True
98447,entcinnamon,"Breaking free, the crook busted the link\nOf t...",111594,True
98448,Giorgio Coniglio,Mr. Owl ate Ms. Nan's metal worm —\nTragic fab...,111595,True
98450,Giorgio Coniglio,The false positive rate of a test:\nCrucial fa...,111597,True

In [16]:
print(data.iloc[11,1])

Aladdin was surely depraved.
I was plucked from my lamp and enslaved.
The despotic young thug
Sought to fly on a rug.
You'd think he'd be better behaved.