In [10]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_json('../raw_data/limerick_dataset_oedilf_v3.json')

In [4]:
df.head()

,author,limerick,id,is_limerick
0,Chris J. Strolin,The very first word here is a.\nIt's used with...,1,False
1,BobHale,"""I'm really hon'rably intentioned,""\nHe said t...",2,False
2,Richard English,If a bovine in some leafy glade\nShould swallo...,3,True
3,Tim Alborn,"The ham-handed chef at IHOP\nLost his grip, an...",4,False
4,Virge,"Our abode, dear (that place with the smell),\n...",5,True

In [7]:
true_limerick_df = df[df.is_limerick == True]

In [8]:
print(df.shape)
print(true_limerick_df.shape)

(98454, 4)
(65886, 4)

In [18]:
lines = []

for i in range(len(true_limerick_df)):
    verses = true_limerick_df['limerick'].iloc[0].split('\n')

    for verse in verses:
        lines.append(verse)
        
len(lines)

329430

In [3]:
from data_processing.format_data import extract_lines

file_path = '../raw_data/limerick_dataset_oedilf_v3.json'
lines2 = extract_lines(file_path)
len(lines2)

329430

In [4]:
import cmudict

In [8]:
words = cmudict.entries()
words[0]

("'bout", ['B', 'AW1', 'T'])

In [11]:
df = pd.read_json('../raw_data/limerick_dataset_oedilf_v3.json')
df = df[df.is_limerick == True]

In [19]:
df['limerick_tk_added'] = ''

for i in range(len(df)):
    
    list_temp = ['<LS>']
    
    verses = df['limerick'].iloc[i].split('\n')

    for verse in verses:
        list_temp.append(verse + ' <LE>')
    
    list_temp = ' '.join(list_temp)
        
    df['limerick_tk_added'].iloc[i] = list_temp

df.head()

/var/folders/66/gdxkg34n24sgj483j1fmq0l40000gn/T/ipykernel_9461/785774828.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['limerick_tk_added'].iloc[i] = list_temp

,author,limerick,id,is_limerick,limerick_tk_added
2,Richard English,If a bovine in some leafy glade\nShould swallo...,3,True,<LS> If a bovine in some leafy glade <LE> Shou...
4,Virge,"Our abode, dear (that place with the smell),\n...",5,True,"<LS> Our abode, dear (that place with the smel..."
6,Virge,"Quoth the office wall icon, ""Achieve!\nYou can...",9,True,"<LS> Quoth the office wall icon, ""Achieve! <LE..."
8,Meg Beagle,Our tomatoes this year are abounding;\nThey're...,11,True,<LS> Our tomatoes this year are abounding; <LE...
10,Meg Beagle,"I'm not one of you limerick chums,\nAnd the th...",13,True,"<LS> I'm not one of you limerick chums, <LE> A..."

In [22]:
df['limerick_tk_reversed'] = ''

for i in range(len(df)):
    
    list_temp = df['limerick_tk_added'].iloc[i]
    words = list_temp.split(' ')
    # then reverse the split string list and join using space
    reverse_sentence = ' '.join(reversed(words))
    # add to new column in df
    df['limerick_tk_reversed'].iloc[i] = reverse_sentence
    
df.head()

/var/folders/66/gdxkg34n24sgj483j1fmq0l40000gn/T/ipykernel_9461/1025695797.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['limerick_tk_reversed'].iloc[i] = reverse_sentence

,author,limerick,id,is_limerick,limerick_tk_added,limerick_tk_reversed
2,Richard English,If a bovine in some leafy glade\nShould swallo...,3,True,<LS> If a bovine in some leafy glade <LE> Shou...,<LE> made. he's what that's — abominable It's ...
4,Virge,"Our abode, dear (that place with the smell),\n...",5,True,"<LS> Our abode, dear (that place with the smel...",<LE> hell). of foretaste (a Together <LE> othe...
6,Virge,"Quoth the office wall icon, ""Achieve!\nYou can...",9,True,"<LS> Quoth the office wall icon, ""Achieve! <LE...","<LE> ""self-deceive."" path, new a walk I Now <L..."
8,Meg Beagle,Our tomatoes this year are abounding;\nThey're...,11,True,<LS> Our tomatoes this year are abounding; <LE...,<LE> dumbfounding. but all that's produce For ...
10,Meg Beagle,"I'm not one of you limerick chums,\nAnd the th...",13,True,"<LS> I'm not one of you limerick chums, <LE> A...",<LE> thumbs. opposable lacks she Since <LE> be...

In [1]:
from data_processing.format_data import data_import_df

file_path = '../raw_data/limerick_dataset_oedilf_v3.json'
df = data_import_df(file_path)
df.head()

,author,limerick,id,is_limerick
2,Richard English,If a bovine in some leafy glade\nShould swallo...,3,True
4,Virge,"Our abode, dear (that place with the smell),\n...",5,True
6,Virge,"Quoth the office wall icon, ""Achieve!\nYou can...",9,True
8,Meg Beagle,Our tomatoes this year are abounding;\nThey're...,11,True
10,Meg Beagle,"I'm not one of you limerick chums,\nAnd the th...",13,True

In [2]:
from data_processing.gpt2_formats import limerick_add_special_tkns

df = limerick_add_special_tkns(df)
df.head()

/Users/rachael/code/rcfeord/smartbard/data_processing/gpt2_formats.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['limerick_tk_added'].iloc[i] = list_temp

,author,limerick,id,is_limerick,limerick_tk_added
2,Richard English,If a bovine in some leafy glade\nShould swallo...,3,True,<LS> If a bovine in some leafy glade <LE> Shou...
4,Virge,"Our abode, dear (that place with the smell),\n...",5,True,"<LS> Our abode, dear (that place with the smel..."
6,Virge,"Quoth the office wall icon, ""Achieve!\nYou can...",9,True,"<LS> Quoth the office wall icon, ""Achieve! <LE..."
8,Meg Beagle,Our tomatoes this year are abounding;\nThey're...,11,True,<LS> Our tomatoes this year are abounding; <LE...
10,Meg Beagle,"I'm not one of you limerick chums,\nAnd the th...",13,True,"<LS> I'm not one of you limerick chums, <LE> A..."

In [3]:
from data_processing.gpt2_formats import limerick_reverse

df = limerick_reverse(df)
df.head()

/Users/rachael/code/rcfeord/smartbard/data_processing/gpt2_formats.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['limerick_tk_reversed'].iloc[i] = reverse_sentence

,author,limerick,id,is_limerick,limerick_tk_added,limerick_tk_reversed
2,Richard English,If a bovine in some leafy glade\nShould swallo...,3,True,<LS> If a bovine in some leafy glade <LE> Shou...,<LE> made. he's what that's — abominable It's ...
4,Virge,"Our abode, dear (that place with the smell),\n...",5,True,"<LS> Our abode, dear (that place with the smel...",<LE> hell). of foretaste (a Together <LE> othe...
6,Virge,"Quoth the office wall icon, ""Achieve!\nYou can...",9,True,"<LS> Quoth the office wall icon, ""Achieve! <LE...","<LE> ""self-deceive."" path, new a walk I Now <L..."
8,Meg Beagle,Our tomatoes this year are abounding;\nThey're...,11,True,<LS> Our tomatoes this year are abounding; <LE...,<LE> dumbfounding. but all that's produce For ...
10,Meg Beagle,"I'm not one of you limerick chums,\nAnd the th...",13,True,"<LS> I'm not one of you limerick chums, <LE> A...",<LE> thumbs. opposable lacks she Since <LE> be...