In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_json('../raw_data/limerick_dataset_oedilf_v3.json')

In [4]:
df.head()

,author,limerick,id,is_limerick
0,Chris J. Strolin,The very first word here is a.\nIt's used with...,1,False
1,BobHale,"""I'm really hon'rably intentioned,""\nHe said t...",2,False
2,Richard English,If a bovine in some leafy glade\nShould swallo...,3,True
3,Tim Alborn,"The ham-handed chef at IHOP\nLost his grip, an...",4,False
4,Virge,"Our abode, dear (that place with the smell),\n...",5,True

In [7]:
true_limerick_df = df[df.is_limerick == True]

In [8]:
print(df.shape)
print(true_limerick_df.shape)

(98454, 4)
(65886, 4)

In [18]:
lines = []

for i in range(len(true_limerick_df)):
    verses = true_limerick_df['limerick'].iloc[0].split('\n')

    for verse in verses:
        lines.append(verse)
        
len(lines)

329430

In [2]:
from data_processing.format_data import extract_lines

file_path = '../raw_data/limerick_dataset_oedilf_v3.json'
lines2 = extract_lines(file_path)
len(lines2)

329430